{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/search.css" %}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'js/autocomplete.js' %}"></script>
    <script>
        autocomplete("{% url 'autocomplete' %}");
    </script>
{% endblock %}

{% block content %}
    <form id="search-form" autocomplete="off" action="{% url 'search_results' %}" method="get">
        <div class="autocomplete-container">
            <input id="search_input" type="text" name="search_query" placeholder="Search product...">
            <div class="autocomplete-items" id="autocomplete-items">
            </div>
        </div>
        <input type="submit">
    </form>
{% endblock %}